In [1]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('Resources/BLS_Tech_Wages.csv')

# Check the first few rows of the data to understand its structure
print(df.head())

       Series ID  Year Period     Label  Value
0  CEU5051800001  2018    M01  2018 Jan  322.5
1  CEU5051800001  2018    M02  2018 Feb  327.6
2  CEU5051800001  2018    M03  2018 Mar  329.1
3  CEU5051800001  2018    M04  2018 Apr  330.1
4  CEU5051800001  2018    M05  2018 May  332.2

In [2]:
# Convert 'Year' and 'Period' into a proper datetime format
df['Month'] = df['Period'].apply(lambda x: x[1:])  # Extract the month part from 'Period'
df['Date'] = pd.to_datetime(df[['Year', 'Month']].assign(DAY=1))  # Create a 'Date' column

# Drop the now redundant 'Year', 'Period', and 'Label' columns
df = df.drop(columns=['Year', 'Period', 'Label'])

# Set 'Date' as the index (optional for time series analysis)
df.set_index('Date', inplace=True)

# Check the first few rows to verify changes
print(df.head())

                Series ID  Value Month
Date
2018-01-01  CEU5051800001  322.5    01
2018-02-01  CEU5051800001  327.6    02
2018-03-01  CEU5051800001  329.1    03
2018-04-01  CEU5051800001  330.1    04
2018-05-01  CEU5051800001  332.2    05

In [3]:
# Drop the 'Month' column, since 'Date' already contains both year and month
df = df.drop(columns=['Month'])

# Check the first few rows to verify the final structure
print(df.head())

                Series ID  Value
Date
2018-01-01  CEU5051800001  322.5
2018-02-01  CEU5051800001  327.6
2018-03-01  CEU5051800001  329.1
2018-04-01  CEU5051800001  330.1
2018-05-01  CEU5051800001  332.2