In [1]:
import pandas as pd

# Load the CSV file
csv_file_path = './Dataframes/combined_cpi_data.csv'
df = pd.read_csv(csv_file_path)

In [2]:
# Ensure the 'Date' column is treated as a string and append '-01'
df['Date'] = df['Date'].astype(str) + '-01'

# Convert 'Date' to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Display the first few rows to check the results
print(df.head())

        Date      Series ID   Value  Inflation Rate  \
0 2018-01-01  CUUR0000SEEEC  56.343        0.000000
1 2018-02-01  CUUR0000SEEEC  56.001       -0.606996
2 2018-03-01  CUUR0000SEEEC  55.699       -0.539276
3 2018-04-01  CUUR0000SEEEC  55.804        0.188513
4 2018-05-01  CUUR0000SEEEC  55.537       -0.478460

                            Commodity
0  Information Technology Commodities
1  Information Technology Commodities
2  Information Technology Commodities
3  Information Technology Commodities
4  Information Technology Commodities

In [3]:

# Create the first pivot table for inflation rates
pivot_inflation = df.pivot_table(
    index='Date',
    columns='Commodity',
    values='Inflation Rate',
    aggfunc='sum',
    fill_value=0
)

# Create the second pivot table for average values
pivot_values = df.pivot_table(
    index='Date',
    columns='Commodity',
    values='Value',
    aggfunc='mean',
    fill_value=0
)

In [4]:
# Merge the pivot tables on the 'Date' index
combined_pivot = pivot_inflation.merge(pivot_values, on='Date', suffixes=('_Inflation', '_Avg_Value'))

In [5]:
# Merge the pivot tables on the 'Date' index
combined_pivot

Commodity,Education and Communication Commodities_Inflation,Education and Communication Services_Inflation,Information Technology Commodities_Inflation,Information Technology Hardware & Services_Inflation,Education and Communication Commodities_Avg_Value,Education and Communication Services_Avg_Value,Information Technology Commodities_Avg_Value,Information Technology Hardware & Services_Avg_Value
Date,,,,,,,,
2018-01-01,0.000000,0.000000,0.000000,0.00000,70.320,109.855,56.343,7.468
2018-02-01,0.036974,-0.162942,-0.606996,-0.01339,70.346,109.676,56.001,7.467
2018-03-01,-0.005686,-0.029177,-0.539276,0.00000,70.342,109.644,55.699,0.000
2018-04-01,-0.075346,-0.017329,0.188513,0.00000,70.289,109.625,55.804,0.000
2018-05-01,0.153651,0.096693,-0.478460,0.00000,70.397,109.731,55.537,0.000
...,...,...,...,...,...,...,...,...
2024-03-01,-0.442833,0.033925,-1.189842,0.00000,52.158,123.844,38.948,0.000
2024-04-01,-0.665286,0.226898,-0.123241,0.00000,51.811,124.125,38.900,0.000
2024-05-01,-0.308815,0.373011,-1.879177,0.00000,51.651,124.588,38.169,0.000
2024-06-01,-0.545972,0.068225,-0.385129,0.00000,51.369,124.673,38.022,0.000
2024-07-01,0.089548,0.332871,0.612803,0.00000,51.415,125.088,38.255,0.000

In [8]:
# Save the combined pivot table to a CSV file
combined_pivot.to_csv('./Dataframes/CPI_pivot.csv')