In [92]:
#Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import os

In [93]:
def print_to_csv(name, df):
    # Step 1: Create the 'Dataframes' folder if it doesn't exist
    folder_path = 'Resources\Output'
    if not os.path.exists(folder_path):
        os.makedirs(folder_path)
        print(f"Folder created: {folder_path}")
    else:
        print(f"Folder already exists: {folder_path}")

    # Step 2: Define the CSV file path
    csv_path = os.path.join(folder_path, f"{name}.csv")

    # Step 3: Save the combined DataFrame as a CSV file
    df.to_csv(csv_path, index=False)
    print(f"DataFrame saved as CSV at {csv_path}")

In [94]:

# Read CSV and write it to a dataframe
df_stocks = pd.read_csv(
    "Resources/Input/stock_data.csv", thousands=',')

df_stocks.head()

       Date     Open     High      Low    Close  Adj_Close       Volume
0  9/1/2024  5623.89  5623.89  5402.62  5471.05    5471.05  18514880000
1  8/1/2024  5537.84  5651.62  5119.26  5648.40    5648.40  81097300000
2  7/1/2024  5471.08  5669.67  5390.95  5522.30    5522.30  80160390000
3  6/1/2024  5297.15  5523.64  5234.32  5460.48    5460.48  76025620000
4  5/1/2024  5029.03  5341.88  5011.05  5277.51    5277.51  86849720000

In [95]:
# clean names
df_stocks.rename(columns={
    'Date':  'date',
    'Open':  'stock_open',
    'High':  'stock_high',
    'Low':   'stock_low',
    'Close': 'stock_close',
    'Adj_Close': 'stock_adj_close' ,
    'Volume': "stock_volume"
    }, inplace=True)
df_stocks.head()

,date,stock_open,stock_high,stock_low,stock_close,stock_adj_close,stock_volume
0,9/1/2024,5623.89,5623.89,5402.62,5471.05,5471.05,18514880000
1,8/1/2024,5537.84,5651.62,5119.26,5648.40,5648.40,81097300000
2,7/1/2024,5471.08,5669.67,5390.95,5522.30,5522.30,80160390000
3,6/1/2024,5297.15,5523.64,5234.32,5460.48,5460.48,76025620000
4,5/1/2024,5029.03,5341.88,5011.05,5277.51,5277.51,86849720000

In [96]:
df_stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             60 non-null     object
 1   stock_open       60 non-null     float64
 2   stock_high       60 non-null     float64
 3   stock_low        60 non-null     float64
 4   stock_close      60 non-null     float64
 5   stock_adj_close  60 non-null     float64
 6   stock_volume     60 non-null     int64
dtypes: float64(5), int64(1), object(1)
memory usage: 3.4+ KB

In [97]:
print_to_csv("z_stock_data", df_stocks)

Folder already exists: Resources\Output
DataFrame saved as CSV at Resources\Output\z_stock_data.csv

In [98]:
# Read CSV and write it to a dataframe
df_unemployment = pd.read_csv(
    "Resources/Input/UNRATE.csv")

df_unemployment.head()

         DATE  UNRATE
0  2019-08-01     3.6
1  2019-09-01     3.5
2  2019-10-01     3.6
3  2019-11-01     3.6
4  2019-12-01     3.6

In [99]:
# clean names
df_unemployment.rename(columns={
    'DATE':  'date',
    'UNRATE':  'unemployment_rate'
    }, inplace=True)
df_unemployment.head()

         date  unemployment_rate
0  2019-08-01                3.6
1  2019-09-01                3.5
2  2019-10-01                3.6
3  2019-11-01                3.6
4  2019-12-01                3.6

In [100]:
print_to_csv("z_unemployment_data", df_unemployment)

Folder already exists: Resources\Output
DataFrame saved as CSV at Resources\Output\z_unemployment_data.csv

In [101]:
# Read CSV and write it to a dataframe
df_fed_rate = pd.read_csv(
    "Resources/Input/FEDFUNDS.csv")

df_fed_rate.head()

         DATE  FEDFUNDS
0  2019-08-01      2.13
1  2019-09-01      2.04
2  2019-10-01      1.83
3  2019-11-01      1.55
4  2019-12-01      1.55

In [102]:
# clean names
df_fed_rate.rename(columns={
    'DATE':  'date',
    'FEDFUNDS':  'fed_rate'
    }, inplace=True)
df_fed_rate.head()

         date  fed_rate
0  2019-08-01      2.13
1  2019-09-01      2.04
2  2019-10-01      1.83
3  2019-11-01      1.55
4  2019-12-01      1.55

In [103]:
print_to_csv("z_fed_rate_data", df_fed_rate)

Folder already exists: Resources\Output
DataFrame saved as CSV at Resources\Output\z_fed_rate_data.csv